@font-face {
  font-family: 'Get Schwifty';
  src: url('../../../../../assets/fonts/get-schwifty.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  img {
    max-width: 500px;
  }
}

.title {
  position: absolute;
  top: 2;
  width: 100%;
  text-align: center;
  font-family: 'Get Schwifty';
  font-size: clamp(4rem, calc(2vw + 3rem), 10rem);
  color: #08BAE3;
  z-index: 50;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);

  span {
    font-size: 0.5em;
  }
}

.title.middle {
  -webkit-text-stroke: 0.1em #FFF765;
  z-index: 49;
}

.title.bottom {
  -webkit-text-stroke: 0.4em black;
  z-index: 48;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.ff {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 40%;
  animation-fill-mode: both;
}

.icon {
  filter: drop-shadow(1px 1px 6px #18fa10);
}